body {
  margin: 0 !important;
  background-color: #f7f9ff;
}

body,
p,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: "Poppins", sans-serif, "Hanuman", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2b2b;
}

.nav_searchbox input {
  color: white !important;
  width: 300px;
  background: #373755 !important;
}

.main_nav {
  border-radius: 0px !important;
  background-color: #1b1b2f !important;
  display: grid !important;
  grid-template-columns: 30% 40% 30%;
}

.search_items {
  margin: 0 auto !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px !important;
}

.logout_btn {
  height: 24px !important;
  padding: 5px 15px !important;
  font-size: 12px !important;
  background: #2e2e4e !important;
  color: white !important;
}

.logout_btn:hover {
  background: black !important;
}

.ui.menu:not(.vertical) .item>.button {
  position: relative;
  top: 0;
  margin: -16.5em 0;
  padding-bottom: 0.78571429em;
  padding-top: 0.78571429em;
  font-size: 1em;
}

.my_sidebar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  background-color: #fafbff;
  padding-right: 0px !important;
}

.menu-sidebar {
  color: #020c16;
  text-decoration: none;
}

.basic {
  padding: 20px;
  margin-left: 20px;
}

.contents_body {
  height: calc(100vh - 40px);
  overflow: hidden;
}

#content_body {
  overflow: auto;
  padding: 20px 30px;
  width: calc(100% - 260px);
  height: calc(100vh - 60px);
}

.content_full {
  width: 100% !important;
}

.item {
  padding: 10px 0px;

}

.sub-title {
  padding: 2px 10px;
  margin: 5px 0px;
}

.sub-title a {
  color: #000000 !important;
}

ul {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 1px;
  padding-inline-start: 20px;
}

.hr_search {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.result-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.recentList {
  display: flex;
}

/* CLASS ACTIVE ON a  */
.menu_active a {
  background: rgb(201, 253, 206);
}

.sub-menu {
  margin-top: 10px !important;
  padding-left: 30px;
}

.menu-sidebar {
  margin-top: 20px;
  margin-left: 20px;
}

.toggle-tage {
  color: #27272d;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  font-weight: bold;

}

.ul-sidebar {
  padding: 15px;
  line-height: 2;
  font-size: 15px;

}

#menu_body {
  margin-top: 10px;
}

.btn {
  position: absolute;
  right: 349px;
  z-index: 100;
}

.ui.button {
  background: #e2e7eb none;
}

label {
  padding: 3px;
  margin-right: 10px;
}

.ui.modal {
  width: 729px;

}

.transparent {
  margin: 30px 0px 0px 77px;
}

.ui.modal {
  width: 476px;
}

.icon-size {
  font-size: x-small !important;
  color: rgb(20, 21, 22);
}

a.title {
  padding: 1px 1px !important;
}

.edit-tages {
  position: absolute;
  right: 0;
  display: none;
}

.login_form {
  width: 390px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.a_ab {
  position: absolute;
  right: 20px;
  display: none;
}

.h_st {
  display: none;
  margin-left: 10px;
}

.sub_t {
  display: flex;
  align-items: center;
}

/* Hover article */
.co:hover {
  color: rgb(34, 80, 177) !important;
}

.tage_editT {

  padding: 0 40px;
}

.c_et {
  margin-top: 90px;
  display: flex;
  align-items: center;
}

.i_et {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.ac_et {
  display: flex !important;
  justify-content: center;
  margin-bottom: 30px;
}

.actions.ac_et {
  background-color: white !important;
  border: none !important;
}

.s_et {
  margin-left: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.364);
  padding: 2px 5px;
  border-radius: 5px;

}

.up {
  background-color: #1b1b2f67 !important;
}

.dt_et {
  display: flex !important;
  justify-content: center;
  margin: 40px 0;
  align-items: center;
}

.da_et {
  display: flex !important;
  justify-content: center;
}

.header-delete {
  background-color: #1b1b2fa1 !important;
  color: white !important;
  display: flex !important;
  justify-content: space-between;
}

.tb-head {
  background-color: #4183c4;
}

.form-edit {
  margin-top: 40px;
}

.editUser_icon {
  cursor: pointer;
}

.editUser_icon:hover {
  /* color: aqua; */
}

.trash-delete_user_icon {
  cursor: pointer;
}

.trash-delete_user_icon:hover {
  color: crimson;
}

.color-image {
  color: #000;
}

.img_path, .img_path02{
  color: #000;
}

.x {
  cursor: pointer;
}